.view-wave {
 z-index: 1;
}

.about {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 padding-bottom: rem(200);
}

.about__main-container {
 position: relative;
 z-index: 1;
 &::before {
  background-color: #fff;
 }
}

.about__main-container.max-bound {
 min-height: initial;
 &::before {
  background-color: transparent;
 }
}

.back-button span {
 position: relative;
 top: rem(60);
 left: rem(32);
 color: $gray;
 font-size: rem(24);
 font-family: "Montserrat";
 z-index: 1;
 &::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: rem(-24);
  width: rem(10);
  height: rem(10);
  transform: translateY(-50%) rotate(45deg);
  border-left: rem(2) solid $black;
  border-bottom: rem(2) solid $black;
 }
}

.about__hero {
 position: relative;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 padding-top: rem(224);
 padding-left: rem(138);
 h2 {
  position: relative;
  font-weight: 700;
  z-index: 2;
 }
}

.about__image {
 width: 28%;
 height: 0;
 padding-top: 35%;
 background-color: $gray;
 transform-origin: bottom;
}

.about__inspirational-phrase {
 width: rem(260);
 align-self: flex-start;
 text-align: left;
}

.about__content {
 position: relative;
 margin-top: rem(280);
}

.content__description {
 width: 100%;
 padding-left: rem(276);
 p {
  width: rem(536);
  font-size: rem(24);
  color: $black;
  text-align: left;
 }
}

.about__me {
 margin-top: rem(96);
 h3 {
  opacity: 0;
  transform: translateY(20px);
 }
 .silc-grid {
  margin-left: rem(-40);
 }
 .silc-grid__col {
  margin-bottom: rem(16);
  padding-left: rem(40);
 }
}

.about__me__items {
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 align-items: flex-start;
 margin-bottom: rem(100);
}

.about__me__items-wrapper {
 li {
  display: flex;
 }
}

.about__me-title {
 min-width: rem(398);
 margin-right: rem(16);
 h3 {
  font-size: calc(24px + (40 - 24) * ((100vw - 300px) / (1600 - 300)));
 }
}

.about__me__item-list {
 padding-top: rem(4);
 li {
  display: block;
  color: $black;
  opacity: 0;
  transform: translateY(20px) scaleY(1.1);
  text-align: left;
  margin-bottom: rem(12);
  font-weight: 300;
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
 }
 &:last-of-type {
  margin-bottom: 0;
 }
}

.about__me-experience__company,
.about__me-experience__role {
 color: $black;
 font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
}
.about__me-experience__company {
 min-width: rem(260);
 font-weight: 700;
 margin-right: 20.5%;
}
.about__me-experience__role {
 min-width: rem(400);
}

@media (max-width: 1700px) {
 .about__hero {
  padding-right: rem(64);
 }
 .about__me-experience__company {
  margin-right: 10%;
 }
}
@media (max-width: 1364px) {
 .about__hero {
  padding-top: rem(64);
  padding-left: 0;
  padding-right: 0;
 }
 .about__image {
  width: 40%;
  padding-top: 50%;
  margin: 0 rem(32);
 }
 .about__me-title {
  min-width: rem(348);
 }
 .about__content.outer-pad.outer-pad--large {
  padding-left: 0;
  margin-top: rem(32);
 }
 .content__description {
  p {
   margin: 0;
  }
 }
 .about__me .silc-grid__col:nth-child(2) .about__me__item {
  margin-left: rem(128);
 }
 .about__content.about__content.outer-pad.outer-pad--large {
  padding-right: rem(32);
 }
 .about__me-experience__company {
  margin-right: rem(32);
 }
}

@media (max-width: 1250px) {
 .about__me__items {
  flex-direction: column;
 }
 .about__me-title {
  margin-bottom: rem(16);
 }
}

@media (max-width: 1100px) {
 .about__me .silc-grid__col:nth-child(1) h3 {
  margin-right: rem(64);
 }
 .about__me .silc-grid {
  margin-left: rem(-48);
 }
 .about__me .silc-grid__col {
  padding-left: rem(48);
 }
}
@media (max-width: 1000px) {
 .about__me .silc-grid__col:nth-child(1) {
  margin-left: rem(0);
 }
 .about__me__item-list {
  padding-top: 0;
 }
}

@media (max-width: 900px) {
 .about {
  padding-top: rem(32);
  padding-bottom: rem(64);
 }

 .about__image {
  width: rem(254);
  height: rem(320);
  margin: rem(32) 0;
 }

 .content__description {
  padding-left: 0;
 }

 .back-button span {
  position: relative;
  top: rem(0);
 }

 .silc-grid__col {
  margin-bottom: rem(24);
 }
}

@media (max-width: 600px) {
 .content__description {
  p {
   font-size: rem(18);
   margin: 0;
  }
 }
 .about__hero {
  flex-direction: column;
  align-items: center;
  h2 {
   align-self: flex-start;
   font-size: rem(64);
  }
 }
 .about__inspirational-phrase {
  align-self: center;
 }
}

@media (max-width: 480px) {
 .content__description p {
  font-size: rem(16);
 }
}
