.carousel__main-container {
 position: absolute;
 top: 0;
 left: 0;
 overflow: hidden;
 height: 100vh;
 z-index: 1;
 .max-bound {
  padding-bottom: 0;
  min-height: auto;
 }
}

.carousel__main-container {
 .back-button {
  position: relative;
  top: rem(50);
  left: calc(15vw + #{rem(32)});
  span {
   top: 0;
   left: 0;
  }
 }
}

.carousel-indicator {
 position: fixed;
 top: 90%;
 left: 50%;
 transform: translateX(-50%);
 text-align: center;
}

.carousel-indicator__line {
 position: relative;
 width: rem(180);
 height: rem(2);
 background-color: $gray;
 vertical-align: middle;
 margin: 0 16px;
 margin-top: rem(-5);
}

.carousel-indicator__line span {
 position: absolute;
 top: 50%;
 left: 0;
 width: 100%;
 height: rem(2);
 background-color: $black;
 transform-origin: left;
 transform: translateY(-50%);
}

.carousel-indicator__line,
.carousel-indicator__number {
 display: inline-block;
 p {
  font-weight: 300;
  font-family: "Montserrat";
  color: $black;
 }
}

.carousel__title {
 position: relative;
 margin-top: rem(16);
 left: 15vw;
}

.carousel__outer-container {
 position: relative;
 overflow-x: scroll;
 width: 100%;
 padding: 2.25rem 15% 0 25vw;
}

.carousel__container {
 position: relative;
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 min-width: rem(1920);
 margin-bottom: rem(40);
 &::after {
  content: "";
  display: block;
  position: relative;
  min-width: rem(200);
  height: rem(100);
 }
}

.carousel__element {
 position: relative;
 width: 80.4%;
 margin-right: rem(256);
 min-width: rem(1088);
 &:last-of-type {
  margin-right: 0;
 }
}

.carousel__element::before {
 content: "";
 display: block;
 position: relative;
 width: 100%;
 height: 0;
 padding-top: 60%;
}

.carousel__element-title {
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 text-align: center;
 z-index: 1;
 .h1 {
  position: relative;
 }
}

.masked-animation__wrapper
 .masked-animation__element.carousel__element-subtitle {
 display: inline-block;
 left: 50%;
 transform: translateX(-50%);
}

.carousel__element-subtitle__inner-wrapper {
 position: relative;
 display: inline-block;
}

.carouel__element-title__line {
 display: inline-block;
 position: relative;
 top: 38%;
 left: 0;
 width: 180%;
 height: rem(2);
 background-color: $gray;
 transform: translateY(-50%);
 transform-origin: left center;
 margin: rem(8) 0 rem(16) 0;
}

.carousel__element-subtitle {
 position: relative;
 display: block;
 font-size: 32px;
 font-weight: 300;
 text-transform: uppercase;
 margin-bottom: 16px;
 text-align: left;
}

.carousel__element-image__wrapper {
 position: absolute;
 top: 50%;
 right: 0;
 transform: translateY(-50%);
 width: rem(600);
 height: rem(600);
}

.carousel__element-image {
 width: 100%;
 height: 100%;
 background-color: #eeeeee;
 transform-origin: bottom;
}

.carousel__element-number__wrapper {
 position: absolute;
 top: 0;
 right: rem(16);
 transform: translateY(-50%);
 .masked-animation__element,
 .masked-animation__wrapper {
  display: inline-block;
 }
}

h3.carousel__element-number {
 position: relative;
 font-size: 88px;
 font-weight: 500;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.carousel__outer-container::-webkit-scrollbar {
 display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.carousel__outer-container {
 -ms-overflow-style: none; /* IE and Edge */
 scrollbar-width: none; /* Firefox */
}

@media (max-width: 1200px) {
}

@media (max-width: 900px) {
 .carousel__main-container .back-button {
  top: rem(44);
  left: rem(32);
  span {
   font-size: rem(16);
  }
  span::before {
   width: rem(5);
   height: rem(5);
   left: rem(-16);
  }
 }
 .carousel__outer-container {
  padding: 0;
  overflow: hidden;
 }
 .carousel__main-container {
  height: 100vh;
  overflow: hidden;
 }
 .carousel__container {
  overflow-x: auto;
  min-width: auto;
  &::after {
   min-width: 0;
  }
 }
 .carousel__element {
  position: relative;
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-right: 0;
  &::before {
   width: 0;
  }
 }

 h3.carousel__element-number {
  font-size: rem(40);
  top: rem(48);
 }

 .carousel__element-image__wrapper {
  right: unset;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%);
 }
 .carousel__element-title {
  text-align: left;
  width: 100%;
  padding-left: rem(40);
  .carousel__element-subtitle {
   font-size: rem(24);
   color: #fff;
  }
  .h1 {
   font-size: rem(32);
   color: #fff;
  }
 }
 .carouel__element-title__line {
  width: 100%;
  background-color: #fff;
 }
 .carousel__title {
  display: none;
 }
 .carousel-indicator {
  position: fixed;
  top: 90%;
  width: 100%;
 }
}

@media (max-width: 600px) {
}
