@import "./colors.scss";
@import "./base.scss";
@import "silc/overrides";
@import "~silc-core/src/scss/index.scss";
@import "~silc-grid/src/scss/index.scss";
@import "./typography.scss";
@import "./layout.scss";
@import "./home.scss";
@import "./about.scss";
@import "./project";
@import "./carousel";
@import "./video";

@media (max-width: 900px) {
 .back-button {
  span {
   font-size: rem(16);
  }
 }
}

.back-button {
    position: relative;
    span {
        display: block;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 100%;
        height: rem(1);
        background-color: $white;
        opacity: 0;
        transform: translateY(10px);
        transition: transform .3s ease-in, opacity .3s ease-in;
    }
    &:hover {
        &::before {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
