.max-bound {
    position: relative;
    max-width: 1632px;
    margin: 0 auto;
    min-height: 100vh;
}

.max-bound::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #000;
}

.about.max-bound::before {
    background-color: #fff;
}

.outer-pad {
    padding: 0 144px;
    &.outer-pad--large {
        padding: 0 272px;
    }
}
