.project {
 position: absolute;
 top: 0;
 left: 50%;
 width: 100%;
 transform: translateX(-50%);
 z-index: 2;
 padding-bottom: rem(438);
 overflow-x: hidden;
 box-shadow: 0 -5px 10px 2px rgba($color: $black, $alpha: 0.2);
 .project-background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
 }
 .back-button {
  position: absolute;
  top: rem(70);
  left: 0;
  z-index: 2;
  span {
   top: 0;
  }
 }
}

.project__hero {
 position: relative;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 justify-content: center;
 padding: 25% 0;
 z-index: 2;
}

.project__wrapper {
    width: 100vw;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.project__inner-wrapper {
 position: relative;
 z-index: 3;
 opacity: 1;
 text-align: right;
}

.project__hero__title {
 position: relative;
 text-align: left;
 width: 90%;
 z-index: 1;
 h1 {
  font-size: calc(64px + (110 - 64) * ((100vw - 300px) / (1600 - 300)));
 }
 span {
  font-size: 5vw;
  display: inline-block;
  position: relative;
  color: $yellow;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $yellow;
 }
}

.project__hero__titlle-marker {
 position: absolute;
 transform: translateY(-100%);
}

.project__hero__image {
 position: absolute;
 right: 0;
 width: 60.5%;
 height: 0;
 padding-top: 50%;
 overflow: hidden;
img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
}

.project__hero__description {
 width: 100%;
 max-width: rem(398);
 text-align: left;
 p {
  font-weight: normal;
  font-size: rem(24);
  color: $gray-dark;
 }
}

.project__content__image {
 position: relative;
 width: 81%;
 height: 0;
 padding-top: 50%;
 margin-bottom: rem(160);
 overflow: hidden;
 span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
 }
 .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      clip-path: inset(0% 100% 0% 0%);
      transition: clip-path .5s ease-in-out;
  }
 }
 &:last-of-type {
  margin-bottom: 0;
 }
 &:nth-child(2) {
  transform: translateX(20vw);
  img {
      clip-path: inset(0% 0% 0% 100%);
  }
}
&:nth-child(3) {
    transform: translateX(10%);
 }
    .image.scrolled {
        img {
            clip-path: inset(0% 0% 0% 0%);
        }
    }
}

.project__inner-navigation {
 position: relative;
 margin-top: rem(180);
 h1 {
  text-align: right;
  font-size: 4vw;
  transition: color 0.3s;
 }
 .bordered-heading {
  transition: color 0.3s;
  color: transparent;
 }
 &:hover {
  .bordered-heading {
   color: $yellow;
  }
 }
}

@media (max-width: 1200px) {
 .project__hero__title h1 {
  font-size: rem(48);
 }
 .project__hero__description {
  span {
   font-size: rem(18);
  }
 }
}

@media (max-width: 900px) {
    .project__wrapper {
        overflow: unset;
    }
 .project .back-button {
  top: rem(32);
  span {
   font-size: rem(16);
  }
  span::before {
   width: rem(5);
   height: rem(5);
   left: rem(-16);
  }
 }
 .project__hero {
  flex-direction: column-reverse;
  padding-top: rem(80);
  padding-bottom: rem(100);
 }
 .project__hero__image {
  position: relative;
  width: 100vw;
  margin-bottom: rem(32);
  left: rem(-32);
  padding-top: 50%;
 }
 .outer-pad {
  padding: 0 rem(32);
 }
 .project__hero__title {
  position: inherit;
  span {
   font-size: rem(32);
   -webkit-text-stroke-width: rem(1);
   &:last-of-type {
    margin-left: rem(1);
   }
  }
 }
 .project__hero__title-marker {
  position: absolute;
  top: rem(40);
  right: rem(64);
  transform: translateY(-50%);
 }
 .project__hero__title h1 {
  font-size: rem(40);
 }
 .project__content__image {
  margin-bottom: rem(80);
 }
 .project__inner-navigation {
  margin-top: rem(64);
  margin-bottom: rem(64);
  .bordered-heading {
   font-size: rem(24);
   -webkit-text-stroke-width: 1px;
  }
 }
}

@media (max-width: 600px) {
    .project .back-button {
        left: rem(-16);
    }
    .project__wrapper {
        width: 100%;
    }
 .project__hero__image {
     padding-top: 90%;
    }
    .project__content__image {
        width: 93%;
     padding-top: 60%;
     margin-bottom: rem(48);
     &:nth-child(1) {
         transform: translateX(64px);
     }
     &:nth-child(2) {
        transform: translateX(-32px);
    }
    &:nth-child(3) {
        transform: translateX(0);
        width: 100%;
    }
 }
 .project__hero {
    padding-bottom: rem(48);
   }
   .project__hero__title-marker {
       right: 0;
   }
}
