h1 {
    font-size: 72px;
    font-weight: 800;
    text-transform: uppercase;
    color: $yellow;
}

h2 {
    font-size: 128px;
    font-weight: 800;
    color: #000;
}

p {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: (29/24);
}

a {
    font-size: 24px;
    font-weight: 500;
    color: $gray;
    text-decoration: none;
}

blockquote {
    color: #000;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 16px;
}

cite {
    color: #000;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
}