.video {
 position: fixed !important;
 top: 0;
 left: 0;
 width: 100vw;
height: 100vh;
 overflow: hidden;
 background-color: $black;
 a {
  z-index: 3;
  span {
   display: inline-block;
   color: $black;
   text-transform: uppercase;
   font-size: rem(18);
   font-weight: 700;
   vertical-align: middle;
   padding: rem(12) rem(16) rem(8) rem(16);
   background-color: $yellow;
   &::after {
    content: "X";
    font-size: rem(18);
    font-weight: 700;
    display: inline-block;
    position: relative;
    margin-left: rem(8);
    transform: translateY(-1px);
    color: $black;
    vertical-align: middle;
   }
  }
 }
}

.video-wrapper {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    padding-top: 55%;
    overflow: hidden;
}

@media (min-width: 500) {
    .video {
        position: absolute !important;
    }
    .video-wrapper {
        pointer-events: none;
        z-index: -1;
    }
}

.video iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
